<meta http-equiv="refresh" content="1">
<h3>Kone elevator controller</h3>

<p>Active Boxes:</p>
<ul>
    <li>
        IP: <span>$IP$</span><br/>
        Status: <span>$STATUS$</span><br/>
        Last Ping: <span>$PING$</span>
        <p/>
        <form action="demo/play_video" method="post">
            <button id="play_video" type="submit">Play Video</button>
        </form>

        <form action="demo/play_slides" method="post">
            <button id="play_slides" type="submit">Play Slides</button>
        </form>
    </li>
</ul>