vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Aug 2012 18:05:05 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|index.html
vti_author:SR|BEERIM-8C308DD4\\Bofei Guo
vti_modifiedby:SR|BEERIM-8C308DD4\\Bofei Guo
vti_timecreated:TR|12 Apr 2012 16:01:00 -0000
vti_nexttolasttimemodified:TW|09 Aug 2012 17:53:55 -0000
vti_cacheddtm:TX|09 Aug 2012 18:05:05 -0000
vti_filesize:IR|1047
vti_cachedlinkinfo:VX|S|../images/pagination-bg.png S|../images/pagination.png
vti_cachedsvcrellinks:VX|FSUS|images/pagination-bg.png FSUS|images/pagination.png
