vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Aug 2012 18:10:31 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|services.html about.html clients.html projects.html contacts.html index.html
vti_author:SR|BEERIM-8C308DD4\\Bofei Guo
vti_modifiedby:SR|BEERIM-8C308DD4\\Bofei Guo
vti_timecreated:TR|13 Apr 2012 09:34:00 -0000
vti_nexttolasttimemodified:TW|09 Aug 2012 18:10:14 -0000
vti_cacheddtm:TX|09 Aug 2012 18:10:31 -0000
vti_filesize:IR|7719
vti_cachedlinkinfo:VX|S|../images/main.jpg S|../images/marker.gif S|../images/search-button.png S|../images/search-button.png S|../images/icon-1.png S|../images/icon-2.png S|../images/icon-3.png S|../images/nav.jpg S|../images/transp.png S|../images/transp.png S|../images/current.jpg S|../images/home-page-img.png S|../images/border-1.gif S|../images/line.png
vti_cachedsvcrellinks:VX|FSUS|images/main.jpg FSUS|images/marker.gif FSUS|images/search-button.png FSUS|images/search-button.png FSUS|images/icon-1.png FSUS|images/icon-2.png FSUS|images/icon-3.png FSUS|images/nav.jpg FSUS|images/transp.png FSUS|images/transp.png FSUS|images/current.jpg FSUS|images/home-page-img.png FSUS|images/border-1.gif NSUS|images/line.png
