<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <listener>
        <listener-class>demo.web.ContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>play_video_servlet</servlet-name>
        <servlet-class>demo.web.PlayVideoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>play_video_servlet</servlet-name>
        <url-pattern>/demo/play_video</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>play_slides_servlet</servlet-name>
        <servlet-class>demo.web.PlaySlidesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>play_slides_servlet</servlet-name>
        <url-pattern>/demo/play_slides</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>